.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

html, body {
    font-family: "Open Sans";
    scroll-behavior: auto;
}


.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 3rem 1rem;
    gap: 100px;

    font-family: "Josefin Sans";

    color: black;
}

#tldr-body {
    font-family: "Josefine Sans", sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#section2 {
    background-color: #f5ffff !important;
}

#section3 {
    background-color: #ffe3e3 !important;
}

#section4 {
    background-color: #f5ffff !important;
}

#section5 {
    background-color: #ffe3e3 !important;
}

#section6 {
    background-color: #f5ffff !important;
}

#section7 {
    background-color: #ffe3e3 !important;
}

#section8 {
    background-color: #f5ffff !important;
}

#section9 {
    background-color: #ffe3e3 !important;
}

#sc_image {
    opacity: 0;
    height: 100%;
    width: 90%;
    y: -50;
}
