.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

html, body {
    scroll-behavior: auto;
    overflow-x: hidden
}

.section {
    min-height: 100vh;
    display: flex;

    color: black;
    padding-top: 50px;
}


#section2 {
    background-color: #f5ffff !important;
}

#section3 {
    background-color: #f7fcfc !important;
}

#section4 {
    background-color: #f5ffff !important;
    background-image: url("images/hillary_edited.png"),
                      linear-gradient(rgba(245, 255, 255, 0.7), rgba(245, 255, 255, 0.7));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

#section5 {
    background-color: #f7fcfc !important;
}

#section6 {
    background-color: #f5ffff !important;
}

#section7 {
    background-color: #f7fcfc !important;
}

#section8 {
    background-color: #f5ffff !important;
}

#section9 {
    background-color: #f7fcfc !important;
}

#section10 {
    background-color: #f5ffff !important;
}

#sc_image {
    opacity: 0;
    height: 100%;
    width: 90%;
    y: -50;
}

#kennedyImage {
    /* transform: translateY(-49px);     */
}

.party-bar {
    width: 4px;
    border-radius: 2px;
}

.bar-red {
    background-color: #e74c3c;
}

.bar-blue {
    background-color: #3498db;
}

.bar-neutral {
    background-color: #bdc3c7;
}

.tight-row {
    margin-bottom: 0px;
}