.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

html, body {
    font-family: "Open Sans";
    scroll-behavior: auto;
}


.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 3rem 1rem;
    gap: 100px;
}

#section2 {
    p {
        color: black;
    }
    background-color: #f5ffff !important;
}

#section3 {
    p {
        color: black;
    }
    background-color: #ffe3e3 !important;
}

#section4 {
    p {
        color: black;
    }
    background-color: #f5ffff !important;
}

#section5 {
    p {
        color: black;
    }
    background-color: #ffe3e3 !important;
}

#section6 {
    p {
        color: black;
    }
    background-color: #f5ffff !important;
}

#section7 {
    p {
        color: black;
    }
    background-color: #ffe3e3 !important;
}

#section8 {
    p {
        color: black;
    }
    background-color: #f5ffff !important;
}