@import url('style.css');

#title {
    color: black;
    
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    font-weight: 300;
}

#section-title {
    color: black;
    
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    font-weight: 300;

    text-align: center;
    justify-content: center;
}

#general-body {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 250;
}


#typed {
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    font-weight: 300;

    text-align: center;
    justify-content: center;
}

#historyTyped {
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    font-weight: 300;

    text-align: center;
    justify-content: center;
}

#historyTitle {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 25px;

    text-align: center;
    justify-content: center;

    padding-top: 10%;
}

#videoTitle {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;

    text-align: center;
    justify-content: center;
}

#video-explanation-body {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 250;

    text-align: center;
    justify-content: center;
}

#history-body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

#decision-body {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 300;

    padding: 3px; 
    overflow-wrap: break-word;

    background-image: url("images/citizensUnitedAGAIN\ \(2\).png");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: center;

    background-color: #ffffff;

    transition: all 0.5s;
}

#decision-body:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}

#decision-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    font-weight: 300;

    /* text-align: center;
    justify-content: center; */

    padding: 10px 20px;

    background-color: #ffffff;
    border: 1px solid rgb(203, 203, 203);
}

#analysis-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    font-weight: 300;

    padding: 10px 20px;

    background-color: #ffffff;
    border: 1px solid rgb(203, 203, 203);

    text-align: center;
}

#analysis-body {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 250;

    padding: 3px; 
    overflow-wrap: break-word;
    background-color: #ffffff;
}